<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Responsive Website design with flexbox</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" >
	<link rel="stylesheet" href="css/style.css" >
</head>
<body>
    <header>
        <h2><a href="#">Good Deeds</a></h2>
        <nav>
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#gallery">Gallery</a></li>
            <li><a href="#contact">contact</a></li>
        </nav>
    </header>

    <section class="banner-area">
        <div class="banner-img"></div>
        <h1>Let's Rise By Lifting Others</h1>
        <h3>charity page</h3>
        <a href="/registration" class="banner-btn">Register Here</a>
    </section>

    <section class="about-area" id="about">
        <h3 class="section-title">About us</h3>
        <ul class="about-content">
            <li class="about-left"><img src="img/good.jpg" height="280" width="400"></li>
            <li class="about-right">
                <h2>About our charity page</h2>
                <p>
                    Good Deeds is a charity organization , an initiative by seven cousins
                    with the intention of donating the needy and strive towards the eradication
                    of hunger in the society.
                    we donate food to the roadside , orphanages , old-age homes and grocery items to
                    the needy families.The kind-hearted donors are the only source of this heavenly act.
                    we are just the volunteers who make sure to reach every penny to the rightmost deserved
                    people.
                </p>
                <a href="#gallery" class="about-btn">Learn More</a>
            </li>
        </ul>
    </section>

    <section class="gallery-area" id="gallery">
        <h3 class="gallery-title">Gallery</h3>
        <div class="gallery">
            <img src="img/g2.jpg" height="250" width="400">
            <img src="img/g5.jpg" height="250" width="400">
            <img src="img/g3.jpg" height="250" width="400">
            <img src="img/g6.jpg" height="250" width="400">
            <img src="img/g1.jpg" height="250" width="400">
            <img src="img/g9.jpg" height="250" width="400">

        </div>
    </section>

    <section class="contact-area" id="contact">
		<h3 class="section-title">Contact</h3>
		<ul class="contact-content">
			<li>
				<i class="fa fa-instagram"></i>
				<p><a href="https://instagram.com/___good_deeds___?utm_medium=copy_link">Good_Deeds</a>
				</p>
			</li>
			<li>
				<i class="fa fa-phone"></i>
				<p>+91 9100409788<br>
		    </p>
			</li>
			<li>
				<i class="fa fa-envelope"></i>
				<p>gooddeeds7india@gmail.com<br>
				mdafreen99@gmail.com</p>
			</li>
		</ul>
	</section>
	<footer>
		<p>All Right Reserved by Your Website</p>
	</footer>

</body>
</html>
